Last login: Mon Jun  2 14:55:31 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
iMac-Nikita-6:~ nikitareshetnikov$ rm requirements.txt
rm: requirements.txt: No such file or directory
iMac-Nikita-6:~ nikitareshetnikov$ nano requirements.txt
















  GNU nano 2.0.6            File: requirements.txt                    Modified  

pyTelegramBotAPI==4.12.0
Flask==2.3.2


















^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Page ^K Cut Text  ^C Cur Pos
^X Exit      ^J Justify   ^W Where Is  ^V Next Page ^U UnCut Text^T To Spell
